<%= form_with model: [:admin, tutorial], local: true do |form| %>
  <% if tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</h2>

      <ul>
      <% tutorial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :tutorial_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :tutorial_body %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :tutorial_slug %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.number_field :published, id: :tutorial_published %>
  </div>

  <div class="field">
    <%= form.label :technology_ids %>
    <%= form.select :technology_ids, Technology.pluck(:title, :id), {}, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
