<p id="notice"><%= notice %></p>

<h1>Technologies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td><%= technology.title %></td>
        <td><%= technology.slug %></td>
        <td><%= technology.body %></td>
        <td><%= link_to 'Show', [:admin, technology] %></td>
        <td><%= link_to 'Edit', edit_admin_technology_path(technology) %></td>
        <td><%= link_to 'Destroy', [:admin, technology], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technology', new_admin_technology_path %>
