<p id="notice"><%= notice %></p>

<h1>Tutorials</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Slug</th>
      <th>User</th>
      <th>Published</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.title %></td>
        <td><%= tutorial.body %></td>
        <td><%= tutorial.slug %></td>
        <td><%= tutorial.user.username %></td>
        <td><%= tutorial.published %></td>
        <td><%= link_to 'Show', tutorial %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
