<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tutorial.body %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @tutorial.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @tutorial.user %>
</p>

<p>
  <strong>Published:</strong>
  <%= @tutorial.published %>
</p>

<%= link_to 'Back', tutorials_path %>
